/*  Back to top component  */

.back-to-top-btn {
  position: fixed;
  z-index: 999;
  right: 42px;
  bottom: 48px;
  width: 64px;
  height: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  font: $body-medium;
  text-decoration: none;

  visibility: hidden;
  opacity: 0;

  transition: 300ms ease-out;
  transition-property: visibility opacity;

  path {
    fill: $color-graybase;
    transition: fill 300ms ease-out;
  }

  &:hover path,
  &:focus-visible path {
    fill: $color-accent;
  }

  @media screen and(max-width: $screen-sm-min) {
    font: $body-small;
    right: 20px;
    bottom: 24px;
  }
}
