/*  Footer  */

footer {
  min-height: 512px;
  background-color: #fff;

  .separator {
    margin: 0;
    border: 0;
    border-bottom: 1px solid rgba($color: $color-graybase, $alpha: 0.2);
  }

  .footer-nav {
    padding-block: 48px 24px;
  }

  p {
    font: $body-small;
    letter-spacing: 0.2px;
    text-decoration: none;
  }

  a:not(.home) {
    @extend p;

    // TODO: déterminer si on ajoute un style particulier pour les ancres.
    /*
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $color-graybase;

      transform: scaleX(0);
      transform-origin: right;
      transition: transform 200ms ease-in;
    }

    &:hover::before,
    &:focus::before {
      transform: scaleX(1);
      transform-origin: left;
    }
		*/

    &.back-to-top {
      font-weight: 700;
    }
  }

  .inner-footer {
    padding-block: 64px 54px;
    display: flex;
    justify-content: space-between;

    & > * {
      flex-basis: 100%;
      max-width: 312px;
    }

    .about-container {
      display: flex;
      flex-direction: column;
      row-gap: 32px;
    }

    .credits {
      display: flex;
      column-gap: 32px;

      .credit-img {
        display: block;
        max-height: 42px;
        width: auto;
        height: 100%;
      }
    }

    h5 {
      padding-bottom: 20px;
      font: $title-regular;
    }

    ul {
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      li {
        list-style: none;
      }
    }
  }

  .footer-bottom {
    padding-block: 48px;
    display: flex;
    justify-content: space-between;

    .copyrights {
      display: flex;
      column-gap: 44px;
    }
  }

  @media screen and(max-width: $screen-sm-min) {
    .footer-nav ul {
      display: none;
    }
    .inner-footer {
      flex-direction: column;
      row-gap: 42px;
    }

    .back-to-top {
      display: none;
    }
    .footer-bottom {
      display: block;

      .copyrights {
        justify-content: space-between;
      }
    }
  }
}

// vim:tw=80:ts=2:noet:ft=scss:norl
