/*  Navbar component  */
.navbar {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // logo pikoom
  .brand-icon {
    max-width: 30px;
    width: 100%;
  }

  // liste liens de navigation
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      list-style: none;

      // Espacement entre les liens
      &:not(:last-of-type) {
        padding-right: 64px;
      }

      a {
        text-decoration: none;
        font: $body-small;
        letter-spacing: 0.4px;
      }
    }
  }
}

// vim:tw=80:ts=2:noet:ft=scss:norl:
