/*  Navbar component  */
.navbar {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // logo pikoom
  .brand-icon {
    max-width: 30px;
    width: 100%;
  }

  // liste liens de navigation
  ul {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      list-style: none;

      a {
        text-decoration: none;
        font-size: 16px;
        letter-spacing: 0.4px;
      }
    }
  }
}

// vim:tw=80:ts=2:noet:ft=scss:norl:
