/*  Error 404: Not found  */
#err-404 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  // header en absolute pour éviter l'overflow du main
  header {
    // ne pas afficher la navigation
    ul {
      // display: none;
    }
  }

  .error-container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 100px;

    // Gros message d'erreur
    h1 {
      font-family: $font-family-secondary;
      font-weight: 600;
      font-size: 72px;
      letter-spacing: -1px;
      line-height: 1.1;
      color: $color-graybase;

      &::before,
      &::after {
        --offset: 2rem;

        display: inline-block;
        font: $body-large;
        letter-spacing: 0.4px;
      }

      &::before {
        content: "Erreur 404";
        margin-right: var(--offset);
      }

      &::after {
        content: "(une fois de plus)";
        margin-left: var(--offset);
      }
    }
  }
}

// vim:tw=80:ts=2:noet:ft=scss:norl
