.contacts {
  padding-top: 176px;
  .contact_title {
    font: $title-large;
    background: $linear-gradient-1;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    padding-bottom: 40px;
  }
  .contact_description {
    margin: auto;
    font: $body-regular;
    max-width: 592px;
    padding-bottom: 70px;
  }
  .contact_networks {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: auto;

    .contact_net {
      font: $body-medium;
      font-weight: 500;
      line-height: 1;
      text-decoration: none;
      display: flex;
      align-items: center;

      svg {
        padding-right: 8px;
        width: 32px;

        path {
          transition: fill 200ms ease-out;
        }
      }

      &:hover path,
      &:focus-visible path {
        fill: $color-accent;
      }
    }
  }
  iframe {
    filter: grayscale(1);
    padding: 50px 0;
    display: flex;
    margin: auto;
  }
}
