.contacts {
  padding-top: 176px;
  .contact_title {
    font: $title-large;
    background: $linear-gradient-1;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    padding-bottom: 40px;
    @media screen and(max-width:$screen-sm) {
      font: $title-regular;
    }
  }
  .contact_description {
    margin: auto;
    font: $body-regular;
    max-width: 592px;
    padding-bottom: 70px;
    @media screen and(max-width:$screen-sm) {
      font: $body-small;
      text-align: center;
    }
  }
  .contact_networks {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: auto;
    @media screen and(max-width:$screen-sm) {
      flex-direction: column;
    }

    .contact_net {
      font: $body-medium;
      font-weight: 500;
      line-height: 1;
      text-decoration: none;
      display: flex;
      align-items: center;
      @media screen and(max-width:$screen-sm) {
        justify-content: center;
        &:nth-child(1) {
          padding-bottom: 10px;
        }
      }

      svg {
        padding-right: 8px;
        width: 32px;

        path {
          transition: fill 200ms ease-out;
        }
      }

      &:hover path,
      &:focus-visible path {
        fill: $color-accent;
      }
    }
  }
  iframe {
    filter: grayscale(1);
    padding: 50px 0;
    display: flex;
    margin: auto;
    @media screen and(max-width: $screen-md) {
      width: 85vw;
    }
    @media screen and (max-width: $screen-xs) {
      display: none;
    }
  }
}
