/*  Hero block  */
.hero-sec {
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;

  // Gros titre (Nous sommes pikoom)
  .headline {
    flex: 1.5;
    width: 100%;
    min-height: 500px;
    position: relative;
    font: $title-ultra-large;
    letter-spacing: -2px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      color: $color-graybase;

      &:nth-of-type(1) {
        padding-left: 50%;
      }
      &:nth-of-type(2) {
        // -webkit-text-stroke: 3px currentColor;
        // -webkit-text-fill-color: $color-base;

        color: $color-base;
        --off: 1px;

        text-shadow: var(--off) var(--off) 0px $color-graybase,
          calc(var(--off) * -1) calc(var(--off) * -1) 0px $color-graybase,
          var(--off) calc(var(--off) * -1) 0px $color-graybase,
          calc(var(--off) * -1) var(--off) 0px $color-graybase;
      }
      &:nth-of-type(3) {
        padding-left: 50%;
        color: $color-accent;
      }
    }
  }

  // Description (une agence ...)
  .description {
    flex: 1.15;
    font: $body-regular;

    span {
      display: block;
      max-width: 395px;
    }
  }
}
