/*  Hero block  */

// TODO:
// Exporter les icones dans la bonne orientation: l'animation de rebond annule
// le `transform: rotate()` des images.

.hero-sec {
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  pointer-events: none;

  aside {
    position: absolute;
    inset: 0;
    z-index: -10;
  }

  .floating-icon {
    position: absolute;
    animation: bounce-anim 12s cubic-bezier(0.45, 0, 0.55, 1) 0s infinite normal
      forwards;

    &[data-code-icon] {
      left: 16%;
      top: 30%;
      // transform: rotate(-26deg);
      animation-delay: random($limit: 1500) + ms;
    }
    &[data-camera-icon] {
      right: 17%;
      top: 35%;
      // transform: rotate(25deg);
      animation-delay: random($limit: 1500) + ms;
    }
    &[data-graph-icon] {
      left: 19%;
      bottom: 22%;
      animation-delay: random($limit: 1500) + ms;
    }
  }

  // Gros titre (Nous sommes pikoom)
  .headline {
    flex: 1.5;
    width: 100%;
    min-height: 500px;
    position: relative;
    font: $title-ultra-large;
    letter-spacing: -2px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      color: $color-graybase;

      &:nth-of-type(1) {
        padding-left: 50%;
      }
      &:nth-of-type(2) {
        // -webkit-text-stroke: 3px currentColor;
        // -webkit-text-fill-color: $color-base;

        color: $color-base;
        --off: 1px;

        text-shadow: var(--off) var(--off) 0px $color-graybase,
          calc(var(--off) * -1) calc(var(--off) * -1) 0px $color-graybase,
          var(--off) calc(var(--off) * -1) 0px $color-graybase,
          calc(var(--off) * -1) var(--off) 0px $color-graybase;
      }
      &:nth-of-type(3) {
        padding-left: 50%;
        color: $color-accent;
      }
    }
  }

  // Description (une agence ...)
  .description {
    flex: 1.15;
    font: $body-regular;

    span {
      display: block;
      max-width: 395px;
    }
  }
}

// Animation des icones
@keyframes bounce-anim {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-6px);
  }

  20%,
  40%,
  60% {
    transform: translateY(6px);
  }

  80% {
    transform: translateY(4.4px);
  }

  90% {
    transform: translateY(-4.4px);
  }
}
