.mention_title {
  font: $title-extra-large;
  padding-top: 200px;
  padding-bottom: 44px;
  color: transparent;
  background: $linear-gradient-1;
  background-clip: text;
  -webkit-background-clip: text;
  margin: 0 auto;
  max-width: max-content;
  @media screen and(max-width: $screen-sm-min) {
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 1;
    padding-bottom: 48px;
  }
}
.mentions_2_title {
  font: $title-large;
  padding-bottom: 64px;
  @media screen and(max-width: $screen-sm-min) {
    font: $title-regular;
    padding-bottom: 36px;
  }
}
.mentions_blocks {
  max-width: 750px;
  div {
    p.contain {
      @media screen and(max-width: $screen-sm-min) {
        font: $body-medium;
      }
    }
  }
}
.credits {
  padding-bottom: 34px;
  .credit_title {
    font-size: 28px;
    padding-bottom: 14px;
    @media screen and(max-width: $screen-sm-min) {
      font-size: 20px;
      font-weight: 700;
    }
  }
}
.mentions_conteners {
  font: $body-regular;
  margin-bottom: 3vw;
}
.mentions_number {
  padding-top: 100px;
  font: $title-extra-large;
  color: #2f4858;
  opacity: 30%;
  @media screen and(max-width: $screen-sm-min) {
    font: $title-medium;
  }
}
.credits:not(:last-of-type) {
  padding-bottom: 32px;
}
