.realisation_title {
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  div {
    padding-bottom: 20%;

    .return {
      a {
        display: inline-flex;
        align-items: baseline;
        text-decoration: none;
        font: $body-large;

        .arrow-back {
          max-width: 40px;
          width: 100%;
          height: auto;
          padding-right: 16px;

          path {
            transition: fill 300ms ease-out;
          }
        }

        &:hover,
        &:focus-visible {
          .arrow-back path {
            fill: $color-accent;
          }
        }
      }
    }
    p {
      font: $body-large;
      margin-bottom: 2.222vw;
    }
    h1 {
      font: $title-extra-large;
      width: 100%;
      line-height: normal;
      background: linear-gradient(276.23deg, #f97c60 62.79%, #2f4858 78.21%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
  img {
    position: absolute;
    margin-left: 20%;
    z-index: -1;
    width: 100%;
    max-width: 904px;
    max-height: 556px;
  }
}

@media screen and(max-width: $screen-md-min) {
  .realisation_title {
    align-items: flex-start;
    flex-direction: column;
    min-height: unset;
    padding-top: 72px;
    padding-bottom: 32px;

    div {
      padding: 10% 0;

      .return a {
        font: $body-medium;
      }
    }
    img {
      position: unset;
      margin-left: 0%;
    }
  }
}

@media screen and(max-width: $screen-sm) {
  .realisation_title {
    div h1 {
      font: $title-medium;
    }
  }
}
