.realisation_participant {
    .swiper_rea{ 
    .carouselle{
        
            display: flex;
        justify-content: space-between;
            div{
                img {
                    min-width:198px;
                    max-height:202.22px;
                    width: 100%;
                }
                p {
                    text-align: center;
                    font: normal normal 600 32px/102.5% $font-family-secondary;
                }
        }
    }
    
    .swiper-pagination{
        max-width: 200px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: auto;
        .swiper-pagination-bullet{
            width: 24px;
        height: 24px;
        background-position-y: center;
        background-repeat: no-repeat;
        border-radius: 100%;
        background-color: $color-graybase;
        cursor: pointer;
            transition: background-color 180ms ease-out;
            &:hover {
                background-color: $color-accent;
              }
              &::after {
                content: "";
              }
            //background-image: url("../icons/pagination_dot.svg");
            background-position-x: 45%;
        };
    }
}
}