.realisation_resume {
  margin-bottom: 6.944vw;
  .articles {
    display: flex;
    flex-direction: column;
    row-gap: 2.5vw;
    max-width: 707px;

    margin-left: 23%;
    h2 {
      padding-bottom: 2.222vw;
      font: $title-medium;
      display: inline-block;
      &.demarche {
        $n: random(6);
        background: list.nth($list, $n);

        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
      &.problemes {
        $n: random(6);
        background: list.nth($list, $n);

        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
      &.equipe {
        $n: random(6);
        background: list.nth($list, $n);

        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
      &.bilan {
        $n: random(6);
        background: list.nth($list, $n);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
    ul {
      margin-bottom: 3vw;
      .subtitle_articles{
        font:$title-regular;
      }
      li {
        font: $body-regular;
        margin-top: 0.5vw;
      }
    }
    p {
      font: $body-regular;
      margin-bottom: 2.5vw;
    }
  }
  .gallerie {
    height: 60vw;
    img {
      width: 100vw;
      position: absolute;
      left: 0;
    }
  }
}
@media screen and(max-width: $screen-md-min) {
  .realisation_resume {
    .articles {
      margin-left: 0;

      article {
        padding: 2rem 0;
      }

      h2 {
        padding-bottom: 1rem;
      }
    }
    .realisation_participant {
      margin-left: 0;
    }
  }
}
