.realisation_brief {
  margin-bottom: 6.944vw;
  .display {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7.778vw;
    .data {
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
      h4 {
        font: $body-medium;
        opacity: 70%;
        margin-bottom: 0.75rem;
      }
      .paragraph {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        p {
          font: normal normal 500 16px/100% $font-family;
        }
      }
    }
  }
  .articles {
    display: flex;
    flex-direction: column;
    row-gap: 2.5vw;
    max-width: 707px;
    margin-right: 10%;
    h2 {
      padding-bottom: 2.222vw;
      font: $title-medium;
      display: inline-block;
      &.context {
        $n: random(6);
        background: list.nth($list, $n);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
      &.demande {
        $n: random(6);
        background: list.nth($list, $n);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
      &.objectif_cible {
        $n: random(6);
        background: list.nth($list, $n);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
    .subtitle_articles{
      font:$title-regular;
    }
    p {
      font: $body-regular;
      margin-bottom: 2.5vw;
    }
  }
  img,
  iframe {
    display: flex;
    margin-left: auto;
    padding-left: -20%;
    width: 100%;
    max-width: 1000px;
    max-height: 556px;
  }
}
@media screen and(max-width: $screen-md-min) {
  .realisation_brief {
    .display {
      flex-direction: column;
      .data {
        display: grid;
        grid-template-columns: repeat(2, minmax(150px, 250px));
        justify-content: space-between;
        padding-bottom: 64px;
      }

      .articles {
        row-gap: 4rem;
        margin: 0;
      }
    }

    iframe {
      max-height: 66vw;
    }
  }
}
