/*  Team section (index)  */
.team-sec {
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: space-between;

  font: $body-regular;

  & > * {
    flex-basis: 100%;
  }

  header {
    max-width: 488px;

    p {
      padding-bottom: 100px;
    }
  }

  // slider
  .swiper {
    max-width: 592px;
    max-height: 660px;
    margin-inline: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 64px;

    // slide wrapper
    .swiper-wrapper {
      height: unset;

      .swiper-slide {
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 54px;

        // temp
        img {
          display: block;
          max-height: 410px;
          max-width: 400px;
        }

        p {
          text-align: center;
          max-width: 488px;
        }
      }
    }

    // Bouton de navigation
    &-nav {
      max-width: 136px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .swiper-button-next,
      .swiper-button-prev {
        all: unset;

        display: inline-block;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-position-y: center;
        background-repeat: no-repeat;
        background-color: $color-graybase;
        cursor: pointer;

        transition: background-color 180ms ease-out;

        &:hover,&:focus-visible{
          background-color: $color-accent;
        }
        &::after {
          content: "";
        }
      }

      .swiper-button-prev {
        background-image: url("../icons/angle-left.svg");
        background-position-x: 45%;
      }
      .swiper-button-next {
        background-image: url("../icons/angle-right.svg");
        background-position-x: 55%;
      }
    }
  }

  /// Media queries

  @media screen and(max-width: $screen-md-min) {
    padding-bottom: 96px;
    flex-direction: column;
    row-gap: 72px;

    // TODO: On fait quoi du lien ?
    .cta {
      display: none;
    }
  }

  @media screen and(max-width: $screen-sm-min) {
    font: $body-medium;
    row-gap: 48px;

    header p {
      padding-bottom: 48px;
    }

    .swiper {
      &-nav {
        max-width: 150px;
        margin: 0 auto;

        .swiper-button-next,
        .swiper-button-prev {
          width: 42px;
          height: 42px;
        }
      }
    }
  }
}
