/*  Values block  */
.values-sec {
  min-height: 100vh;
  font: $body-regular;

  .about-pikoom {
    max-width: 592px;
  }

  .values-container {
    padding-block: 48px 96px;
    display: grid;
    row-gap: 32px;
    grid-template-areas:
      ". optimism"
      "open-mindedness ."
      ". honesty";

    .value-optimism {
      grid-area: optimism;
    }
    .value-open-mindedness {
      grid-area: open-mindedness;
    }
    .value-honesty {
      grid-area: honesty;
    }

    article {
      max-width: 488px;

      h3 {
        position: relative;
        font: $title-medium;
        padding-bottom: 48px;

        &::before {
          position: absolute;
          left: 8px;
          top: 10px;
          width: max-content;
          content: attr(data-value-name);
          font: $title-large;
          color: $color-graybase;
          opacity: 0.1;
        }

        &::after {
          position: absolute;
          content: attr(data-value-emoji);
          margin-left: 24px;
        }
      }
    }
  }

  @media screen and(max-width: $screen-sm-min) {
    font: $body-medium;

    .values-container {
      padding-top: 96px;
      grid-template-areas: "optimism" "open-mindedness" "honesty";
      row-gap: 72px;

      article {
        h3 {
          font: $title-regular;

          &::before {
            font: $title-medium;
          }
          &::after {
            margin-left: 16px;
          }
        }
      }
    }
  }
}
// vim ts=2
